@use "./variables";

.headerContainer {
    position: relative;
    h2 {
        position: absolute;
        bottom: -35px;
    }
}

.blogSection {
    background-color: variables.$secondary;
    .blogFlexContainer {
        display: flex;
        .blogLeft {
            width: 30%;
            margin-right: 20px;
            margin-top: 100px;
            display: flex;
            flex-direction: column;
            aside {
                background-color: white;
                padding: 40px;
            }
            .asideOne {
                margin-bottom: 10px;
            }
            .asideTwo {
                margin-top: 10px;
            }
        
            .aboutHarper {
                margin-top: 20px;
            }
            p {
                margin-bottom: 0;
            }
            .recentPosts {
                margin-bottom: 20px;
            }
            li {
                list-style: inside;
                font-family: variables.$bodyFont;
                font-size: 1rem;
                color: variables.$solidBlack;
                line-height: 1.6rem;
                letter-spacing: 0;
            }
        }
        .blogRight {
            width: 70%;
            margin-left: 20px;
            margin-top: 100px;
            display: flex;
            flex-direction: column;
            article {
                background-color: white;
                padding: 40px;
                margin-bottom: 40px;
                .pFirst {
                    margin-bottom: 20px;
                }
                .pMiddle {
                    margin-top: 0;
                    margin-bottom: 20px;
                }
                .pLast {
                    margin-top: 0;
                    margin-bottom: 60px;
                }
            article, .commentBottom {

            }
            }
            .commentTop, .commentBottom {
                display: flex;
                background-color: white;
                padding: 40px;
                margin-bottom: 40px;
                .imgDiv {
                    width: 15%;
                }
                .textDiv {
                    width: 85%;
                    p {
                        margin: 0;
                    }
                }
            }
            article, .commentBottom {
                border-bottom: 5px solid variables.$quinary;
            }
            .commentTop {
                margin-bottom: 20px;
                border-bottom: none;
            }
            form {
                display: flex;
                flex-direction: column;
                .formTop {
                    width: 100%;
                    display: flex;
                    justify-content: space-between;
                    margin-bottom: 20px;
                    .visuallyHidden {
                        border: 0;
                        clip: rect(0 0 0 0);
                        height: 1px;
                        margin: -1px;
                        overflow: hidden;
                        padding: 0;
                        position: absolute;
                        width: 1px;
                    }
                    input {
                        width: calc(50% - 5px);
                        border: none;
                        padding: 30px;
                    }
                    input:nth-child(1) {
                        margin-right: 10px;
                    }
                    ::placeholder {
                        color: variables.$solidBlack;
                        opacity: 1;
                    }
                }
                .formBottom {
                    width: 100%;
                    margin-bottom: 20px;
                    .visuallyHidden {
                        border: 0;
                        clip: rect(0 0 0 0);
                        height: 1px;
                        margin: -1px;
                        overflow: hidden;
                        padding: 0;
                        position: absolute;
                        width: 1px;
                    }
                    textarea {
                        width: 100%;
                        border: none;
                        padding: 40px 30px 120px 30px;
                    }
                    ::placeholder {
                        color: variables.$solidBlack;
                        opacity: 1;
                    }
                }
                .submitButton {
                    margin-bottom: 100px;
                    .button {
                        width: 100%;
                        border: none;
                    }                    
                }
            }     
        }
    }
}
