@use "./variables";

.contactSection {
    background-color: variables.$secondary;
    .contactFlexContainer {
        display: flex;
        .contactLeft {
            width: 33%;
            height: 100%;
            margin-right: 20px;
            margin-top: 100px;
            display: flex;
            flex-direction: column;
            background-color: white;
            padding: 50px 40px 40px 40px;
            .svgContainer {
                display: flex;
                align-items: center;
                margin-bottom: 15px;
                position: relative;
                left: -10px;
            }
            h5 {
                margin-bottom: 15px;
                text-transform: none;
            }    
            p {
                margin: 0;
            }
            svg {
                width: 40px;
                height: 40px;
                margin-right: 23px;
            }
            svg:nth-child(2), svg:nth-child(3) {
                width: 30px;
                height: 30px;
            }
        }
        .contactRight {
            width: 67%;
            margin-left: 20px;
            margin-top: 100px;
            display: flex;
            flex-direction: column;
            form {
                display: flex;
                flex-direction: column;
                .formTop {
                    width: 100%;
                    display: flex;
                    justify-content: space-between;
                    margin-bottom: 20px;
                    .visuallyHidden {
                        border: 0;
                        clip: rect(0 0 0 0);
                        height: 1px;
                        margin: -1px;
                        overflow: hidden;
                        padding: 0;
                        position: absolute;
                        width: 1px;
                    }        
                    input {
                        width: calc(50% - 5px);
                        border: none;
                        padding: 30px;
                    }       
                    input:nth-child(1) {
                        margin-right: 10px;
                    }        
                    ::placeholder {
                        color: variables.$solidBlack;
                        opacity: 1;
                    }
                }       
                .formBottom {
                    width: 100%;
                    margin-bottom: 20px;       
                    .visuallyHidden {
                        border: 0;
                        clip: rect(0 0 0 0);
                        height: 1px;
                        margin: -1px;
                        overflow: hidden;
                        padding: 0;
                        position: absolute;
                        width: 1px;
                    }       
                    textarea {
                        width: 100%;
                        border: none;
                        padding: 40px 30px 120px 30px;
                    }        
                    ::placeholder {
                        color: variables.$solidBlack;
                        opacity: 1;
                    }
                }        
                .submitButton {
                    margin-bottom: 100px;        
                    .button {
                        width: 100%;
                        border: none;
                    }
                }
            }
        }       
    }
}    