@use "./variables";

header {
    background-color: #b9dde7;
}

.header {
    display: flex;
    .headerImg {
        width: 40%;
        position: relative;
        background-color: white;
        top: 50px;
        img {
            position: relative;
            top: -20px;
            left: -20px;
        }
    }
}
    .headerContent {
        width: 60%;
        padding: 0 50px;
        display: flex;
        align-items: center;
        .contentContainer {
            position: relative;
            h1 {
                font-size: 8rem;
            }
            img {
                position: absolute;
                left: 420px;
                top: -50px;
            }       
        }

    }



