@use "./variables";

header {
    background-color: variables.$primary;
}

.header {
    display: flex;
    .headerImg {
        position: relative;
        top: 65px;
        box-shadow: 20px 20px 0px 0px white;
    }
}

.headerContent {
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
    .contentContainer {
        position: relative;
        h1 {
            font-size: 7rem;
            padding-right: 60px;
        }
        img {
            width: 160px;
            height: 150px;
            position: absolute;
            left: 370px;
            top: -40px;
        }       
    }

}



