@use "./variables";

.nav {
    display: flex;
    justify-content: center;
    padding: 15px 0;
    li {
        padding: 10px 20px 0px 20px;
        .title {
            font-size: 2.1rem;
            padding: 0 20px;
        }
        .home, .blog, .contact {
            color: white;
        }
    }
}