@use "./variables";

html {
    font-size: 125%;
}

body p {
    font-family: variables.$bodyFont;
    // font-weight: 400 or regular;
    font-size: 1rem;
    color: variables.$solidBlack;
    line-height: 1.6rem;
    letter-spacing: 0;
}

h1, h2, h3, h4, h5, .button, .menu {
    font-family: variables.$keyFont;
    // font-weight: 700 or bold;
    color: variables.$solidBlack;
    letter-spacing: 0.05rem;
    text-transform: uppercase;
    margin: 0;
}

// h1 {
//     font-size: rem;
// }

h2 {
    font-size: 4rem;
    line-height: 4.6rem;
    // margin-bottom: 18px;
}

h3 {
    font-size: 2.1rem;
    // margin-bottom: 24px;
}

h4 {
    font-size: 1.6rem;
    // margin-bottom: 18px;
}

h5 {
    font-size: 1.2rem;
    // margin: 0 0 24px 0;
}

.button {
    font-size: 1rem;
    line-height: 1.6rem;
    text-align: center;
}

.menu {
    font-size: 1rem;
    line-height: 1.45rem;
    text-align: right;
}

// p {
//     line-height: 1.5rem;
//     margin: 0 0 30px 0;

//     // Always do margin bottom and/or top because it's easier to track
//     &.smallCopy {
//         // any p with class of .smallCopy
//         font-size: 0.6rem;
//         line-height: 1.2rem;
//         font-weight: bold;
//         margin: 0;
//     }
// }

ul, li, a, input {
    padding: 0;
    margin: 0;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
    // cursor: pointer;
    // transition: 0.3s;
}