/* site fonts */
$keyFont: "Oswald", "sans-serif";
$bodyFont: "Cabin", "sans-serif";

/* site colours */
$primary: #b9dde7;
$secondary: #f6f6f6;
$tertiary: #f38d8d;
$quaternary: #68b0c1;
$quinary: #227284;
$solidBlack: #171717;