html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

img {
  max-width: 100%;
  display: block;
}

/* site fonts */
/* site colours */
html {
  font-size: 125%;
}

body p {
  font-family: "Cabin", "sans-serif";
  font-size: 1rem;
  color: #171717;
  line-height: 1.6rem;
  letter-spacing: 0;
  margin-top: 20px;
  margin-bottom: 30px;
}

h1, h2, h3, h4, h5, .button, .menu {
  font-family: "Oswald", "sans-serif";
  color: #171717;
  letter-spacing: 0.05rem;
  text-transform: uppercase;
  margin: 0;
}

h2 {
  font-size: 4rem;
  line-height: 4.6rem;
}

h3 {
  font-size: 2.1rem;
}

h4 {
  font-size: 1.6rem;
}

h5 {
  font-size: 1.2rem;
}

.button {
  font-size: 1rem;
  line-height: 1.6rem;
  text-align: center;
}

.findOutMoreButton {
  width: 35%;
}

.menu {
  font-size: 1rem;
  line-height: 1.45rem;
  text-align: right;
}

ul, li, a, input {
  padding: 0;
  margin: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.wrapper {
  width: 85%;
  max-width: 1440px;
  margin: 0 auto;
}

.button {
  background-color: #f38d8d;
  padding: 5px 30px;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 15px 0;
}
.nav li {
  padding: 10px 20px 0px 20px;
}
.nav li .title {
  font-size: 2.1rem;
  padding: 0 20px;
}
.nav li .home, .nav li .blog, .nav li .contact {
  color: white;
}

footer {
  background-color: #171717;
}
footer p {
  color: white;
  text-align: center;
  margin: 0;
  padding: 5px 0;
}

header {
  background-color: #b9dde7;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.header .headerImg {
  width: 40%;
  position: relative;
  background-color: white;
  top: 80px;
}
.header .headerImg img {
  position: relative;
  top: -20px;
  left: -20px;
}

.headerContent {
  width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.headerContent .contentContainer {
  position: relative;
}
.headerContent .contentContainer h1 {
  font-size: 7rem;
  padding-right: 60px;
}
.headerContent .contentContainer img {
  width: 160px;
  height: 150px;
  position: absolute;
  left: 370px;
  top: -40px;
}

.section1 {
  background-color: #f6f6f6;
  height: 470px;
}
.section1 .about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 120px 0;
  height: 100%;
}
.section1 .about .section1Placeholder {
  width: 40%;
}
.section1 .about .section1Content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
}

.section2 img {
  width: 100%;
  height: max(50vh, 500px);
  -o-object-fit: cover;
     object-fit: cover;
}

.section3 {
  background-color: #f6f6f6;
}
.section3 .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
}
.section3 .wrapper ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: 65px;
  padding-top: 80px;
  padding-bottom: 150px;
}
.section3 .wrapper ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: space-between;
      -ms-flex-align: space-between;
          align-items: space-between;
  width: calc(50% - 85px);
  margin: 15px 20px 15px 0px;
  position: relative;
}
.section3 .wrapper ul li:nth-child(2), .section3 .wrapper ul li:nth-child(4) {
  width: calc(50% - 85px);
  margin: 15px 0 15px 65px;
}
.section3 .iconContainer {
  position: absolute;
  left: -65px;
  top: -13px;
}
.section3 .galleryIcon::before {
  content: url(../assets/icons/Mediamodifier-Design.svg);
}
.section3 .aboutIcon::before {
  content: url(../assets/icons/Mediamodifier-Design2.svg);
}
.section3 .blogIcon::before {
  content: url(../assets/icons/Mediamodifier-Design3.svg);
}
.section3 .contactIcon::before {
  content: url(../assets/icons/Mediamodifier-Design4.svg);
}
.section3 .mainNavContent {
  margin-left: 15px;
}

.section4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.section4 .harpersTravels {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
}
.section4 .harpersTravels .imgContent {
  width: 50%;
  position: relative;
  background-color: #68b0c1;
  bottom: 40px;
}
.section4 .harpersTravels .textContent {
  width: 50%;
  -ms-flex-item-align: center;
      align-self: center;
  padding: 7% 8% 3% 8%;
}
.section4 .favouriteThings {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  margin: 0 auto;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
}
.section4 .favouriteThings .imgContent {
  width: 50%;
  position: relative;
  background-color: #b9dde7;
  bottom: -40px;
}
.section4 .favouriteThings .textContent {
  width: 50%;
  -ms-flex-item-align: center;
      align-self: center;
  padding: 7% 8% 3% 8%;
}
.section4 .harpersTravels img {
  max-width: 85%;
  max-height: 100%;
  position: absolute;
  left: 85px;
  bottom: 20px;
}
.section4 .favouriteThings img {
  max-width: 85%;
  max-height: 100%;
  position: absolute;
  right: 120px;
  bottom: 20px;
}

.section5 {
  background-color: #f6f6f6;
  padding-top: 130px;
  padding-bottom: 100px;
}
.section5 .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.section5 .wrapper .journeyImgBox {
  background-color: #227284;
  position: relative;
  top: 20px;
  left: 20px;
}
.section5 .wrapper .journeyImgBox img {
  position: relative;
  bottom: 20px;
  right: 20px;
}
.section5 .wrapper .journeyTextBox {
  -ms-flex-preferred-size: 65%;
      flex-basis: 65%;
  margin-left: 124px;
}
.section5 .wrapper .journeyTextBox h3 {
  margin-top: 25px;
}
.section5 .wrapper .journeyTextBox p {
  margin-top: 30px;
  margin-bottom: 40px;
}

.section6 .galleryContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.section6 .galleryContainer ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 100px auto;
}
.section6 .galleryContainer ul li {
  margin: 0 20px;
}
.section6 .galleryContainer ul li:nth-child(1) {
  margin-left: 0;
}
.section6 .galleryContainer ul li:nth-child(3) {
  margin-right: 0;
}

@media (min-width: 941px) {
  .section1Content {
    width: 60%;
    padding-left: 85px;
  }
}
/* Portrait tablet and small desktops */
@media (max-width: 940px) {
  .headerContent .contentContainer h1 {
    font-size: 13vw;
    padding-left: 50px;
  }
  .headerContent .contentContainer img {
    display: none;
  }
  .section1Placeholder {
    display: none;
  }
  .section1Content {
    width: 100%;
  }
}
/* Landscape phone to portrait tablet */
@media (max-width: 768px) {
  .nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .nav li .title {
    padding: 0;
  }
  .section1 {
    height: auto;
  }
  .section1 .section1Content {
    padding-left: 0;
  }
  .section3 .wrapper ul li, .section3 .wrapper ul li:nth-child(2), .section3 .wrapper ul li:nth-child(4) {
    width: 100%;
    margin: 0;
  }
  .section4 .harpersTravels {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .section4 .harpersTravels .imgContent {
    width: 100%;
  }
  .section4 .harpersTravels .imgContent img {
    min-height: 300px;
    position: relative;
    width: 100%;
  }
  .section4 .harpersTravels .textContent {
    width: 100%;
  }
  .section4 .favouriteThings {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .section4 .favouriteThings .imgContent {
    width: 100%;
    bottom: 0;
  }
  .section4 .favouriteThings .imgContent img {
    min-height: 300px;
    position: relative;
    width: 100%;
    bottom: 0;
    right: 0;
  }
  .section4 .favouriteThings .textContent {
    width: 100%;
  }
  .section5 .wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .section5 .wrapper .journeyTextBox {
    margin-left: 0;
    margin-top: 50px;
  }
  .section6 .galleryContainer ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .section6 .galleryContainer ul li {
    margin: 0;
  }
  .section6 .galleryContainer ul li:nth-child(2),
.section6 .galleryContainer ul li:nth-child(3) {
    margin-top: 20px;
  }
}
/* Landscape phones and down */
@media (max-width: 480px) {
  .findOutMoreButton {
    width: 100%;
  }
  .section6 .galleryContainer ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .section6 .galleryContainer ul li {
    margin: 0;
  }
  .section6 .galleryContainer ul li:nth-child(2), .section6 .galleryContainer ul li:nth-child(3) {
    margin-top: 20px;
  }
}